body {
  background-color: rgb(199, 198, 198);
}

h1 {
  color: rgb(86, 101, 239);
}

h3 {
  color: rgb(86, 101, 239);
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  border-color: white;
  height: 0px;
  width: 10%;
}